
.gridListItem{
    width: 100%;
}

.matGridList{
    padding: 2em;
    margin: 2em;
   overflow: auto ;
}

mat-card{
    padding: 5px;
    margin: 5px;
}

mat-select{
    // padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}